<table class="table table-bordered btn-danger">
   <thead>
    <tr class="">
        <td> Student Id</td>
        <td> Student Name</td>
        <td> Course</td>
        <td> Percentage</td>
    </tr>
   </thead>
   <tbody>
    <tr>
        <td>1</td>
        <td> harsh</td>
        <td>MCA</td>
        <td>78</td>
    </tr>
    <tr>
        <td>1</td>
        <td> harsh</td>
        <td>MCA</td>
        <td>78</td>
    </tr>
    <tr>
        <td>1</td>
        <td> harsh</td>
        <td>MCA</td>
        <td>78</td>
    </tr>
   </tbody>
</table>
